@font-face {
  font-family: 'sweet-sans-pro';
  src:
    url('https://use.typekit.net/af/67fc8b/00000000000000007735c623/31/l?subset_id=2&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/67fc8b/00000000000000007735c623/31/d?subset_id=2&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/67fc8b/00000000000000007735c623/31/a?subset_id=2&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'sweet-sans-pro';
  src:
    url('https://use.typekit.net/af/47eb2c/00000000000000007735c61b/31/l?subset_id=2&fvd=i4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/47eb2c/00000000000000007735c61b/31/d?subset_id=2&fvd=i4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/47eb2c/00000000000000007735c61b/31/a?subset_id=2&fvd=i4&v=3')
      format('opentype');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'sweet-sans-pro';
  src:
    url('https://use.typekit.net/af/a3634f/00000000000000007735c628/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/a3634f/00000000000000007735c628/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/a3634f/00000000000000007735c628/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: 'sweet-sans-pro';
  src:
    url('https://use.typekit.net/af/ab7c40/00000000000000007735c62d/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/ab7c40/00000000000000007735c62d/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/ab7c40/00000000000000007735c62d/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'sweet-sans-pro';
  src:
    url('https://use.typekit.net/af/417c99/00000000000000007735c633/31/l?subset_id=2&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/417c99/00000000000000007735c633/31/d?subset_id=2&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/417c99/00000000000000007735c633/31/a?subset_id=2&fvd=i7&v=3')
      format('opentype');
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'loretta';
  src:
    url('https://use.typekit.net/af/edbdba/00000000000000007756f666/31/l?subset_id=2&fvd=i4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/edbdba/00000000000000007756f666/31/d?subset_id=2&fvd=i4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/edbdba/00000000000000007756f666/31/a?subset_id=2&fvd=i4&v=3')
      format('opentype');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'loretta';
  src:
    url('https://use.typekit.net/af/c023e9/00000000000000007756f661/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/c023e9/00000000000000007756f661/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/c023e9/00000000000000007756f661/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'loretta';
  src:
    url('https://use.typekit.net/af/9c8190/00000000000000007756f675/31/l?subset_id=2&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/9c8190/00000000000000007756f675/31/d?subset_id=2&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/9c8190/00000000000000007756f675/31/a?subset_id=2&fvd=n7&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'loretta';
  src:
    url('https://use.typekit.net/af/a6c601/00000000000000007756f674/31/l?subset_id=2&fvd=i7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/a6c601/00000000000000007756f674/31/d?subset_id=2&fvd=i7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/a6c601/00000000000000007756f674/31/a?subset_id=2&fvd=i7&v=3')
      format('opentype');
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'loretta-display';
  src:
    url('https://use.typekit.net/af/3be812/00000000000000007756f65c/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/3be812/00000000000000007756f65c/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/3be812/00000000000000007756f65c/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: 'loretta-display';
  src:
    url('https://use.typekit.net/af/19f1ea/00000000000000007756f676/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/19f1ea/00000000000000007756f676/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/19f1ea/00000000000000007756f676/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: 'loretta-display';
  src:
    url('https://use.typekit.net/af/bb178a/00000000000000007756f65e/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/bb178a/00000000000000007756f65e/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/bb178a/00000000000000007756f65e/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: 'loretta-display';
  src:
    url('https://use.typekit.net/af/e58405/00000000000000007756f671/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/e58405/00000000000000007756f671/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/e58405/00000000000000007756f671/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

.tk-sweet-sans-pro {
  font-family: 'sweet-sans-pro';
}
.tk-loretta {
  font-family: 'loretta';
}
.tk-loretta-display {
  font-family: 'loretta-display';
}
